Repository luxass/cloudflare-workers, changes with the labels that .github/labeler.yml gives for each.
All labels: worker: assets, worker: vscode, worker: image, worker: unicode-tools, package: helpers

.github/labeler.yml:

# See https://github.com/actions/labeler

"worker: assets":
  - changed-files:
      - any-glob-to-any-file: apps/assets/**

"worker: vscode":
  - changed-files:
      - any-glob-to-any-file: apps/vscode/**

"worker: image":
  - changed-files:
      - any-glob-to-any-file: apps/image/**

"worker: unicode-tools":
  - changed-files:
      - any-glob-to-any-file: apps/unicode-tools/**

"package: helpers":
  - changed-files:
      - any-glob-to-any-file: packages/helpers/**

feat: add deployment workflows for unicode-tools and update README
  .github/workflows/unicode-tools-pr-deploy.yaml
  .github/workflows/unicode-tools-push-deploy.yaml
  README.md
  package.json
Labels: none

chore: update readme
  apps/unicode-tools/README.md
Labels: worker: unicode-tools

chore: remove duplicate not found handler
  apps/unicode-tools/src/index.ts
Labels: worker: unicode-tools

chore: remove duplicate not found handler in assets
  apps/assets/src/index.ts
Labels: worker: assets

ci: add ci security workflow
  .github/workflows/ci-security.yaml
Labels: none

chore: update labeler
  .github/workflows/labeler.yaml
Labels: none

chore: update lockfile
  pnpm-lock.yaml
Labels: none

chore: try fix
  .github/workflows/labeler.yaml
Labels: none
