Repository luxass/cloudflare-workers, changes with the labels that .github/labeler.yml gives for each.
All labels: worker: assets, worker: mosaic, worker: vscode, worker: image

.github/labeler.yml:

# See https://github.com/actions/labeler

"worker: assets":
  - changed-files:
      - any-glob-to-any-file: apps/assets/**

"worker: mosaic":
  - changed-files:
      - any-glob-to-any-file: apps/mosaic/**

"worker: vscode":
  - changed-files:
      - any-glob-to-any-file: apps/vscode/**

"worker: image":
  - changed-files:
      - any-glob-to-any-file: apps/image/**

chore: update readme
  README.md
Labels: none

fix(mosaic): change preview db
  apps/mosaic/wrangler.toml
Labels: worker: mosaic

feat: add vitest workspace
  package.json
  pnpm-lock.yaml
  vitest.workspace.ts
Labels: none

feat: add vitest deps
  package.json
  pnpm-workspace.yaml
Labels: none

chore(assets): cleanup tsconfig
  apps/assets/tsconfig.json
Labels: worker: assets

chore: update lockfile
  pnpm-lock.yaml
Labels: none

feat(assets): update compatibility date
  apps/assets/wrangler.toml
Labels: worker: assets

feat(assets): install vitest
  apps/assets/package.json
Labels: worker: assets

feat(assets): setup vitest project
  apps/assets/vitest.config.ts
Labels: worker: assets

feat(assets): fix response handlers
  apps/assets/src/index.ts
Labels: worker: assets

test(assets): add tests for endpoints
  apps/assets/test/index.test.ts
Labels: worker: assets

feat: add test script
  package.json
Labels: none

ci: run tests before deployment
  .github/workflows/assets-pr-deploy.yaml
  .github/workflows/assets-push-deploy.yaml
  .github/workflows/image-pr-deploy.yaml
  .github/workflows/image-push-deploy.yaml
  .github/workflows/mosaic-pr-deploy.yaml
  .github/workflows/mosaic-push-deploy.yaml
  .github/workflows/refresh-preview.yaml
  .github/workflows/refresh-production.yaml
  .github/workflows/vscode-pr-deploy.yaml
  .github/workflows/vscode-push-deploy.yaml
Labels: none

feat(image): modernize tsconfig
  apps/image/tsconfig.json
Labels: worker: image

feat(mosaic): modernize tsconfig
  apps/mosaic/tsconfig.json
Labels: worker: mosaic

feat(vscode): modernize tsconfig
  apps/vscode/tsconfig.json
Labels: worker: vscode

feat(image,mosaic,vscode): update compatibility date
  apps/image/wrangler.toml
  apps/mosaic/wrangler.toml
  apps/vscode/wrangler.toml
Labels: worker: mosaic, worker: vscode, worker: image

feat(assets,image,mosaic,vscode): install vitest from catalog
  apps/assets/package.json
  apps/image/package.json
  apps/mosaic/package.json
  apps/vscode/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: worker: assets, worker: mosaic, worker: vscode, worker: image

feat(mosaic,image,vscode): add vitest configs
  apps/image/vitest.config.ts
  apps/mosaic/vitest.config.ts
  apps/vscode/vitest.config.ts
Labels: worker: mosaic, worker: vscode, worker: image

feat(image,mosaic,vscode): add test scripts
  apps/image/package.json
  apps/mosaic/package.json
  apps/vscode/package.json
Labels: worker: mosaic, worker: vscode, worker: image

feat(vscode): improve api
  apps/assets/src/index.ts
  apps/image/src/index.ts
  apps/mosaic/src/index.ts
  apps/vscode/src/index.ts
  apps/vscode/src/routes/builtin-extensions.ts
  apps/vscode/src/routes/releases.ts
  apps/vscode/src/schemas.ts
  apps/vscode/src/types.ts
  apps/vscode/src/utils.ts
Labels: worker: assets, worker: mosaic, worker: vscode, worker: image

test(vscode): write tests for endpoints
  apps/vscode/test/index.test.ts
Labels: worker: vscode

chore: update deps
  apps/assets/package.json
  apps/image/package.json
  apps/mosaic/package.json
  apps/vscode/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: worker: assets, worker: mosaic, worker: vscode, worker: image

chore: test response changes
  apps/assets/src/index.ts
Labels: worker: assets

fix type erros
  apps/vscode/test/index.test.ts
Labels: worker: vscode

chore: add more testing
  apps/image/src/types.ts
  apps/image/test/index.test.ts
  apps/mosaic/src/index.ts
  apps/mosaic/test/index.test.ts
  apps/vscode/test/index.test.ts
Labels: worker: mosaic, worker: vscode, worker: image

fix(mosaic): use raw import
  apps/mosaic/src/graphql-queries.ts
Labels: worker: mosaic

test(assets): disable font tests with caching
  apps/assets/test/index.test.ts
Labels: worker: assets

chore: lint
  apps/image/test/index.test.ts
  apps/mosaic/test/index.test.ts
  apps/vscode/test/index.test.ts
  pnpm-workspace.yaml
Labels: worker: mosaic, worker: vscode, worker: image

chore(image): remove testing
  .github/workflows/image-pr-deploy.yaml
  .github/workflows/image-push-deploy.yaml
  apps/image/package.json
  apps/image/test/index.test.ts
  apps/image/vitest.config.ts
Labels: worker: image

chore: update lockfile
  pnpm-lock.yaml
Labels: none

feat(vscode): add types to middleware
  apps/vscode/src/index.ts
Labels: worker: vscode

test(vscode): set github_token binding
  apps/vscode/vitest.config.ts
Labels: worker: vscode

ci(vscode): include github_token env
  .github/workflows/vscode-pr-deploy.yaml
  .github/workflows/vscode-push-deploy.yaml
Labels: none

fix(image): remove `@cloudflare/vitest-pool-workers`
  apps/image/tsconfig.json
Labels: worker: image

refactor(mosaic): extract openapi routes
  apps/mosaic/src/index.ts
  apps/mosaic/src/openapi.ts
Labels: worker: mosaic

test(mosaic): add tests
  apps/mosaic/package.json
  apps/mosaic/src/index.ts
  apps/mosaic/src/schemas.ts
  apps/mosaic/src/utils.ts
  apps/mosaic/test/apply-migrations.ts
  apps/mosaic/test/env.d.ts
  apps/mosaic/test/index.test.ts
  apps/mosaic/vitest.config.ts
  pnpm-lock.yaml
Labels: worker: mosaic

chore(vscode): remove throw
  apps/vscode/vitest.config.ts
Labels: worker: vscode
