Repository luxass/cloudflare-workers, changes with the labels that .github/labeler.yml gives for each.
All labels: worker: assets, worker: vscode, worker: image, package: helpers

chore: update readme
  README.md
Labels: none

chore: update dependencies
  apps/assets/package.json
  apps/image/package.json
  apps/vscode/package.json
  package.json
  packages/helpers/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: worker: assets, worker: vscode, worker: image, package: helpers

chore: upgrade to vitest v4
  apps/assets/package.json
  apps/assets/test/index.test.ts
  apps/assets/tsconfig.json
  apps/assets/vitest.config.ts
  apps/image/package.json
  apps/vscode/package.json
  apps/vscode/test/index.test.ts
  apps/vscode/tsconfig.json
  apps/vscode/vitest.config.ts
  package.json
  packages/helpers/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vitest.config.ts
  vitest.workspace.ts
Labels: worker: assets, worker: vscode, worker: image, package: helpers

chore: try fix tests
  apps/assets/worker-configuration.d.ts
  apps/image/worker-configuration.d.ts
  apps/vscode/src/schemas.ts
  apps/vscode/worker-configuration.d.ts
Labels: worker: assets, worker: vscode, worker: image

refactor: update emoji and text image dimensions, enhance VS Code routes with new schemas
  apps/image/src/routes/emoji.tsx
  apps/image/src/routes/text.tsx
Labels: worker: image

refactor: update VS Code schemas and routes, remove unused schemas, and adjust cache settings
  apps/vscode/src/index.ts
  apps/vscode/src/routes/builtin-extensions.openapi.ts
  apps/vscode/src/routes/builtin-extensions.schemas.ts
  apps/vscode/src/routes/builtin-extensions.ts
  apps/vscode/src/routes/releases.openapi.ts
  apps/vscode/src/routes/releases.schemas.ts
  apps/vscode/src/routes/vsce.openapi.ts
  apps/vscode/src/routes/vsce.schemas.ts
  apps/vscode/src/routes/vsce.ts
  apps/vscode/tsconfig.json
Labels: worker: vscode

chore: lint
  apps/assets/tsconfig.json
Labels: worker: assets

refactor(utils): enhance type safety in `params` function
  apps/image/src/utils.ts
  apps/vscode/test/index.test.ts
Labels: worker: vscode, worker: image

chore: allow 0x0
  apps/image/src/routes/text.tsx
Labels: worker: image

Change emoji dimensions to allow zero values
  apps/image/src/routes/emoji.tsx
Labels: worker: image

chore(pnpm-workspace): update dependencies versions
  apps/assets/package.json
  apps/image/package.json
  apps/image/src/render.ts
  apps/image/src/yoga.wasm
  apps/image/wrangler.jsonc
  apps/vscode/package.json
  package.json
  packages/helpers/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: worker: assets, worker: vscode, worker: image, package: helpers

chore(image): remove unused dependency `yoga-wasm-web`
  apps/image/package.json
  apps/image/src/render.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: worker: image

chore(pnpm): update `vitest` to version 4.1.0-beta.1
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore(ci): update workflow files for dependency versions and paths
  .github/workflows/assets-pr-deploy.yaml
  .github/workflows/assets-push-deploy.yaml
  .github/workflows/ci-security.yaml
  .github/workflows/image-pr-deploy.yaml
  .github/workflows/image-push-deploy.yaml
  .github/workflows/labeler.yaml
  .github/workflows/refresh-preview.yaml
  .github/workflows/refresh-production.yaml
  .github/workflows/update-vsce-content.yaml
  .github/workflows/vscode-pr-deploy.yaml
  .github/workflows/vscode-push-deploy.yaml
Labels: none

chore(image): remove unused import of `init` from `satori`
  apps/image/src/render.ts
Labels: worker: image

.github/labeler.yml:

# See https://github.com/actions/labeler

"worker: assets":
  - changed-files:
      - any-glob-to-any-file: apps/assets/**

"worker: vscode":
  - changed-files:
      - any-glob-to-any-file: apps/vscode/**

"worker: image":
  - changed-files:
      - any-glob-to-any-file: apps/image/**

"package: helpers":
  - changed-files:
      - any-glob-to-any-file: packages/helpers/**
