Repository luxass/cloudflare-workers, changes with the labels that .github/labeler.yml gives for each.
All labels: worker: assets, worker: projectrc, worker: vscode

.github/labeler.yml:

# See https://github.com/actions/labeler

"worker: assets":
  - any:
      - apps/assets.worker/**

"worker: projectrc":
  - any:
      - apps/projectrc.worker/**

"worker: vscode":
  - any:
      - apps/vscode.worker/**

chore: update lockfile
  pnpm-lock.yaml
Labels: none

chore: rename vscode.worker
  apps/vscode.worker/package.json
Labels: worker: vscode

refactor(vscode): update openapi
  apps/vscode.worker/src/index.ts
  apps/vscode.worker/src/routes/builtin-extensions.openapi.ts
  apps/vscode.worker/src/routes/builtin-extensions.ts
  apps/vscode.worker/src/routes/builtin-extensions/[ext].ts
  apps/vscode.worker/src/routes/builtin-extensions/index.ts
  apps/vscode.worker/src/routes/index.ts
  apps/vscode.worker/src/routes/releases.openapi.ts
  apps/vscode.worker/src/routes/releases.ts
  apps/vscode.worker/src/schemas.ts
  apps/vscode.worker/src/utils.ts
Labels: worker: vscode

fix(projectrc): use correct request url
  apps/projectrc.worker/package.json
  apps/projectrc.worker/src/index.ts
Labels: worker: projectrc

chore: lint
  .github/workflows/assets-pr-deploy.yaml
  .github/workflows/assets-push-deploy.yaml
  .github/workflows/projectrc-pr-deploy.yaml
  .github/workflows/projectrc-push-deploy.yaml
  .github/workflows/refresh-production.yaml
  .github/workflows/refresh-staging.yaml
  .github/workflows/vscode-pr-deploy.yaml
  .github/workflows/vscode-push-deploy.yaml
  apps/projectrc.worker/wrangler.toml
Labels: worker: projectrc

chore: debug
  apps/projectrc.worker/src/cronjob.ts
Labels: worker: projectrc

chore: debug
  apps/projectrc.worker/src/index.ts
Labels: worker: projectrc

chore: debug
  apps/projectrc.worker/src/index.ts
Labels: worker: projectrc

chore: debug
  apps/projectrc.worker/src/index.ts
Labels: worker: projectrc

chore: debug
  apps/projectrc.worker/src/index.ts
Labels: worker: projectrc

chore: debug
  apps/projectrc.worker/src/cronjob.ts
Labels: worker: projectrc

chore: debug
  apps/projectrc.worker/src/cronjob.ts
Labels: worker: projectrc

chore: remove projectrc worker
  .github/workflows/projectrc-pr-deploy.yaml
  .github/workflows/projectrc-push-deploy.yaml
  apps/projectrc.worker/README.md
  apps/projectrc.worker/eslint.config.mjs
  apps/projectrc.worker/package.json
  apps/projectrc.worker/src/cronjob.ts
  apps/projectrc.worker/src/index.ts
  apps/projectrc.worker/src/projectrc-schema.ts
  apps/projectrc.worker/src/remark-plugins/icon.ts
  apps/projectrc.worker/src/types.ts
  apps/projectrc.worker/tsconfig.json
  apps/projectrc.worker/wrangler.toml
  package.json
  pnpm-lock.yaml
Labels: worker: projectrc

chore: update deps
  apps/assets.worker/package.json
  apps/vscode.worker/package.json
  package.json
  pnpm-lock.yaml
Labels: worker: assets, worker: vscode

ci: update vscode worker prod workflow
  .github/workflows/vscode-push-deploy.yaml
Labels: none

chore: use pnpm catalog
  apps/assets.worker/package.json
  apps/vscode.worker/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: worker: assets, worker: vscode

feat: add mosaic worker
  .github/workflows/mosaic-pr-deploy.yaml
  .github/workflows/mosaic-push-deploy.yaml
  apps/mosaic.worker/README.md
  apps/mosaic.worker/eslint.config.mjs
  apps/mosaic.worker/package.json
  apps/mosaic.worker/src/index.ts
  apps/mosaic.worker/tsconfig.json
  apps/mosaic.worker/wrangler.toml
  package.json
Labels: none

fix: use correct view source urls
  apps/assets.worker/src/index.ts
  apps/mosaic.worker/src/index.ts
  apps/vscode.worker/src/index.ts
Labels: worker: assets, worker: vscode

chore: update lockfile
  pnpm-lock.yaml
Labels: none

dump
  .github/workflows/assets-pr-deploy.yaml
  .github/workflows/assets-push-deploy.yaml
  .github/workflows/labeler.yaml
  .github/workflows/mosaic-pr-deploy.yaml
  .github/workflows/mosaic-push-deploy.yaml
  .github/workflows/refresh-preview.yaml
  .github/workflows/refresh-production.yaml
  .github/workflows/vscode-pr-deploy.yaml
  .github/workflows/vscode-push-deploy.yaml
  apps/assets.worker/src/index.ts
  apps/assets.worker/wrangler.toml
  apps/mosaic.worker/.graphqlrc.yaml
  apps/mosaic.worker/migrations/0001_initialize.sql
  apps/mosaic.worker/package.json
  apps/mosaic.worker/src/index.ts
  apps/mosaic.worker/wrangler.toml
  apps/vscode.worker/src/index.ts
  apps/vscode.worker/wrangler.toml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: worker: assets, worker: vscode

ci: apply migrations in ci
  .github/workflows/mosaic-pr-deploy.yaml
  .github/workflows/mosaic-push-deploy.yaml
Labels: none

fix(mosaic): use correct url in prod
  apps/mosaic.worker/src/index.ts
Labels: none

debug
  .github/workflows/mosaic-pr-deploy.yaml
  .github/workflows/mosaic-push-deploy.yaml
Labels: none

debug
  .github/workflows/mosaic-pr-deploy.yaml
  .github/workflows/mosaic-push-deploy.yaml
Labels: none

fix: resolve multiple configs at a time this will decrrase the subrequests that we do, so we won't go over the limits
  apps/mosaic.worker/src/index.ts
Labels: none

fix: use correct mosaic url
  apps/mosaic.worker/src/index.ts
Labels: none

debug
  apps/mosaic.worker/src/index.ts
Labels: none

chore: add more debug
  apps/mosaic.worker/src/index.ts
Labels: none

chore: add more debug
  apps/mosaic.worker/src/index.ts
Labels: none

chore: add more debug
  apps/mosaic.worker/src/index.ts
Labels: none

debug
  apps/mosaic.worker/src/index.ts
Labels: none

debug
  apps/mosaic.worker/src/index.ts
Labels: none

chore: add debug
  apps/mosaic.worker/src/index.ts
Labels: none

debug
  apps/mosaic.worker/src/index.ts
Labels: none

debug
  .graphqlrc.yaml
  apps/mosaic.worker/.graphqlrc.yaml
  apps/mosaic.worker/src/index.ts
Labels: none

debug
  apps/mosaic.worker/src/index.ts
Labels: none

chore: debug
  apps/mosaic.worker/src/index.ts
Labels: none

feat(mosaic): add caching
  apps/mosaic.worker/src/index.ts
Labels: none

feat: add description
  apps/mosaic.worker/migrations/0002_add-description.sql
  apps/mosaic.worker/src/index.ts
Labels: none

feat: update description if changed
  apps/mosaic.worker/src/index.ts
Labels: none
